body{
    background-color: black;
    overflow-x:hidden ;
}
.container-fluid {
    color: white;
}

img{
    width: 100%;
}

h1 {

    padding-top: 100px;
    text-align: center;
    font-size: 2.5em;
    color: darkred;
    text-align: center;
    text-shadow:
            0 0 5px white,
            0 0 10px white,
            0 0 20px white,
            0 0 40px white,
            0 0 70px white,
            0 0 80px white;
}

h2{
    padding-top: 100px;
}

.lien{
    text-align: center;
    text-decoration: none;

}

col-6 col-sm-3 col-md-1 lien{
    margin-bottom:100px;
}

.clique{
    padding-top: 100px;
    display:flex;
    text-decoration: none;
    color:darkred;
    font-size: 1.5rem;
    color: darkred;
    text-align: center;
    text-shadow:
            0 0 5px white,
            0 0 10px white,
            0 0 20px white,
            0 0 40px white,
            0 0 70px white,
            0 0 80px white;

}
ul{
    color: white;
}
/* Sous-menus */
.navbar{
    background-color: #000000;
    border-color: #444;

}


.dropdown-item:hover {
    background-color: #e50914;
    color: #fff;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown {
    position: relative;
}

.dropdown-menu .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -1px;
}

.dropdown-menu .dropdown:hover > .dropdown-menu {
    display: block;
}